#pragma code_page(65001)

#include <winuser.h>
#include <commctrl.h>

#include "res.h"
//#include "purchase.ico"

//-----------------------------------------
BMP_IMG BITMAP "Image.bmp"
ICN_PURCHASE ICON "D://Сергей//Рабочий стол//4 семестр//программирование//лабы мои лабы//3 (сдавать)//32//res//purchase.ico"
//-------------------------------------------
IDMB_MENUBAR MENU
BEGIN
  POPUP "&Файл"
  BEGIN
    MENUITEM "&Сохранить\tCtrl+S", IDM_MENU_FILE_SAVE
    MENUITEM SEPARATOR
    MENUITEM "&Выход\tCtrl+Q", IDM_MENU_FILE_QUIT
  END
  
  MENUITEM "Об &авторе", IDM_ABOUT
  MENUITEM "Выход", IDM_SAS
END

ID_ACCEL ACCELERATORS
BEGIN
  "S", IDM_MENU_FILE_SAVE, CONTROL, VIRTKEY
  "Q", IDM_MENU_FILE_QUIT, CONTROL, VIRTKEY
END
//-----------------------------------------
IDD_MAIN DIALOGEX 0, 0, 200, 214
STYLE WS_OVERLAPPEDWINDOW | DS_SETFONT 
//DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION TEXT("Приобретение билета")
MENU IDMB_MENUBAR
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_DATE_SELECTOR, DATETIMEPICK_CLASS, WS_TABSTOP | WS_CHILD | WS_VISIBLE,
    10, 10, 180, 12

  LTEXT TEXT("Станция &отправления"), IDC_STATIC, 10, 32, 85, 9,
  COMBOBOX IDC_COMBOBOX_DEPARTURE, 10, 41, 85, 1000,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | CBS_DROPDOWNLIST

  LTEXT TEXT("Станция &прибытия"), IDC_STATIC, 105, 32, 85, 9
  COMBOBOX IDC_COMBOBOX_ARRIVAL, 105, 41, 85, 1000,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | CBS_DROPDOWNLIST

  LTEXT TEXT("Услуга ""&Туда-Обратно"""), IDC_STATIC, 10, 63, 180, 9
  AUTORADIOBUTTON "Да", IDC_TWOWAY_YES,
	10, 72, 50, 15,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | WS_GROUP
  AUTORADIOBUTTON "Нет", IDC_TWOWAY_NO,
	70, 72, 50, 15,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE

  LTEXT TEXT("&Вид поезда"), IDC_STATIC,
	10, 97, 180, 9
  AUTORADIOBUTTON "Обычный", IDC_TRAIN_ORDINARY,
	10, 106, 50, 9,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | WS_GROUP
  AUTORADIOBUTTON "Экспресс", IDC_TRAIN_EXPRESS,
	70, 106, 50, 9,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE

  LTEXT TEXT("Вид &билета"), IDC_TICKET_KIND,
	10, 131, 180, 9
  AUTORADIOBUTTON "Разовый", IDC_TICKET_SINGLE,
	10, 140, 50, 9,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | WS_GROUP
  AUTORADIOBUTTON "Абонемент", IDC_TICKET_SUBSCRIPTION,
	70, 140, 50, 9,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE

  LTEXT TEXT("&Цена"), IDC_STATIC,
	10, 165, 120, 9
  EDITTEXT IDC_PRICE,
	10, 175, 180, 12,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | ES_LEFT | ES_READONLY
  AUTOCHECKBOX TEXT("&Льготный"), IDC_REDUCED,
    140, 163, 50, 11,
    WS_TABSTOP | WS_CHILD | WS_VISIBLE | ES_LEFT | ES_READONLY
  DEFPUSHBUTTON TEXT("&Купить"), IDC_PURCHASE,
	10, 188, 180, 16
END
//----------------------------------
IDD_ABOUT DIALOGEX 0, 0, 78, 20
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION TEXT("Об авторе")
FONT 30, "MS Shell Dlg"
BEGIN
  LTEXT TEXT("Подопригорова Н ИУ5-44б"), IDC_STATIC,
	2, 2, 76, 20  
END
